body {
    padding: 10px;
}

.listing_container {
    border: 1px solid #ccc;
    border-radius: 10px; /* Adjust the value to control the roundness of the border */
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.created_at {
    font-size: 0.8em;
    color: grey;
}

.css_comments {        
    margin-left: 20px;
}
